@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FDFDFD;
  max-height: 100vh;
}


/* Container Style */
.detail-cont {
  width: 50%;
  height: 100vh;
  display: flex;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 0 20px;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(0, 119, 182);
  background: linear-gradient(180deg, rgba(0, 119, 182, 1) 0%, rgba(0, 169, 225, 1) 41%, rgba(0, 209, 255, 1) 100%);

}

.login-cont {
  width: 50%;
  max-height: 100vh;
  background-color: #FDFDFD;
}

.logo-cont {
  width: 100%;
  text-align: center;
  margin: 8% 0;
}

.container {
  display: flex;
  max-height: 100vh;
  flex-direction: row;
}

.text-cont {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  padding-left: 60px;
}

.forg-pass-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.regis-cont {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

/* text,image and button style */

.text-cont h2 {
  font-size: 28px;
  color: white;
}

.text-cont h1 {
  font-size: 36px;
  color: white;
}

.logo-cont img {
  min-width: 100px;
  max-width: 200px;
}

.logo-cont h2 {
  font-size: 27px;
}

#img-web-dev {
  width: 800px;
  height: auto;
}

.forg-pass-cont a {
  color: #0077B6;
}

.regis-cont a {
  color: #0077B6;
}

/* Form Style */
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 18%;
  gap: 10px;

}

.form-cont {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.4rem;
  align-items: center;
  justify-content: space-around;
}


/* Inputs Style */
.input-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 0;
  text-transform: uppercase;

}

.form-tb-text,
.form-tb-password {
  flex: 1 1 calc(20% - 10px);
  margin: 0 5px 0 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #AFAFAF;
  border-radius: 14px;
  box-sizing: border-box;
  outline-color: #0077B6;
  background-color: white;
  align-content: center;
  min-height: 50px;
}

.form-tb-text:hover,
.form-tb-password:hover {
  box-shadow: 0px 0px 5px 0px rgb(226, 225, 225);
  border: solid 1px #0077B6;
}


/* Style for Button */
.form-btn-submit {
  width: 100%;
  height: 45px;
  background-color: #0077B6;
  color: white;
  border-radius: 14px;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.form-btn-submit:hover {
  background-color: #00D1FF;
}


/* Media fo login page */
@media (max-width: 1600px) {
  #img-web-dev {
    width: 750px;
    height: auto;
  }
}

@media (max-width: 1500px) {
  #img-web-dev {
    width: 650px;
    height: auto;
  }

  .text-cont h2 {
    font-size: 25px;
    color: white;
  }

  .text-cont h1 {
    font-size: 32px;
    color: white;
  }

  .logo-cont h2 {
    font-size: 22px;
  }

  .logo-cont img {
    width: 150px;
  }

  .forg-pass-cont a {
    font-size: 13px;
  }

  .regis-cont a {
    font-size: 13px;
  }

  .regis-cont {
    margin-top: 30px;
  }


}

@media (max-width: 1260px) {
  .detail-cont {
    height: 100vh;
  }

  #img-web-dev {
    width: 500px;
    height: auto;
  }

  .text-cont h2 {
    font-size: 16px;
    color: white;
  }

  .text-cont h1 {
    font-size: 24px;
    color: white;
  }

  .regis-cont {
    margin-top: 10px;
  }

  
  .form-tb-text,
  .form-tb-password {
    flex: 1 1 calc(20% - 10px);
    margin: 0 5px 0 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #AFAFAF;
    border-radius: 14px;
    box-sizing: border-box;
    outline-color: #0077B6;
    background-color: white;
    align-content: center;
    min-height: 50px;
  }
  
}



@media (max-width: 968px) {
  body {
    background: rgb(0, 119, 182);
    background: linear-gradient(180deg, rgba(0, 119, 182, 1) 0%, rgba(0, 169, 225, 1) 41%, rgba(0, 209, 255, 1) 100%);
    padding: 0 2%;
  }

  .detail-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;
  }

  .login-cont {
    width: 100%;
    max-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  .input-label{
    color: white;
  }

  .login-cont h2{
    color: white;
  }



  .text-cont {
    height: 30vh;
    justify-content: center;
    padding-left: 20px;
    display: flex;
  }

  .form {
    padding: 0 10%;
  }

  .forg-pass-cont a {
    color: #ffffff;
    font-size: 11px;
  }
  
  .regis-cont {

    margin-top: 10px;
  }
  .regis-cont a {
    color: #ffffff;
    font-size: 11px;
  }
  #img-web-dev {
    width: 350px;
    height: auto;
  }

  .input-label {
    font-size: 12px;  
  }
  
}

@media (max-width: 768px) {

  .detail-cont {
    display: none;
    }

  .login-cont {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  .text-cont {
    height: 30vh;
    justify-content: center;
    padding-left: 20px;
    display: flex;
  }

  .form {
    padding: 0 10%;
  }

  .forg-pass-cont a {
    color: #ffffff;
    font-size: 11px;
  }
  
  .regis-cont {

    margin-top: 10px;
  }
  .regis-cont a {
    color: #ffffff;
    font-size: 11px;
  }
  
}




/* register css */


.regis-detail-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.text-cont-regis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 0 8%;
}

.regis-text-wrapper {
  max-width: 70%;

}

.regis-text-wrapper h1 {
  font-size: 36px;
}

.regis-text-wrapper h2 {
  font-size: 26px;
}

.regis-logo-cont img {
  max-width: 350px;
  width: 280px;
  height: auto;
}


.regis-btn-submit {
  width: 100%;
  height: 45px;
  background-color: #0077B6;
  color: white;
  border-radius: 14px;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.regis-btn-submit:hover {
  background-color: #66a3c9;
}

.regis-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 5%;
  gap: 10px;
}

.regis-form-cont {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.4rem;
  align-items: center;
  justify-content: space-around;
}

.regis-btn {
  width: 100%;
  height: 45px;
  background-color: #0077B6;
  color: white;
  border-radius: 14px;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.regis-btn:hover {
  background-color: #66a3c9;
}